{% extends "base_authentication.html" %}
{% load static %}

{% block title %} - Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-title">
                    <h4>Please Enter Your Email To Get Reset Password Link</h4>
                </div>
                <div class="card-body">
                    <form action="{% url "request-reset-password" %}" method="post">
                        {% include "partials/_messages.html" %}
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" id="emailField" placeholder="Email" class="form-control form-control-sm" value="{{values.email}}">
                        </div>
                        <div class="emailfeedbackArea invalid-feedback" style="display:none"></div>
                        <p class="text-sm text-success emailSuccessOutput"></p>

                        <input type="submit" value="Send Link" class="btn btn-block btn-primary submit-btn">
                    </form>
                    <div class="container">
                        <span class="text-lead lead">You have an account ?</span> <a href="{% url "login" %}">Login</a><br>
                        <span class="text-lead lead">Don't have an account ?</span> <a href="{% url "register" %}">Create an account</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}